.TableSection {
  //   width: 800px !important;
  margin: 30px auto;
  padding: 0 10px;
  //   table {
  //     width: 800px !important;
  //     overflow-x: auto !important;
  //   }
  .Table-one {
    h1 {
      font-size: 20px;
    }
  }
}
